manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    # kumamuk-git と shibafu528 の remote 定義は削除
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-pmw3610-driver
      url: https://github.com/shibafu528/zmk-pmw3610-driver # <-- 部品のURLを直接指定します
      revision: main
  self:
    path: config
